<sly data-sly-test="${ properties.titletheme == 'bigtitle' }">

				<div class="container pt-120">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">${properties.title}</h1>
								${properties.description @ context="html"}
                             </div>
		                </div>
		            </div>
				</div>

</sly>
<sly data-sly-test="${ properties.titletheme == 'smalltitle'}">



							<div class="single-services">
								<span class="lnr lnr-pie-chart"></span>
								<a href="#"><h4>${properties.title}</h4></a>
								${properties.description @ context="html"}
							</div>

</sly>

