<sly data-sly-use.model="com.personal.core.models.TestimonialModel"></sly>
<!-- Start testimonial Area -->
		    <section class="testimonial-area">
				<sly data-sly-resource="${'title' @ resourceType='/apps/personal/components/titletext'}"></sly>	    	
                  <div class="container pb-120">
		            <div class="row">
                        <div class="active-testimonial" data-sly-list.obj="${model.testimoniallist}">

		                    <div class="single-testimonial item d-flex flex-row">
		                        <div class="thumb">
		                            <img class="img-fluid" src="img/elements/user1.png" alt="">
		                        </div>
		                        <div class="desc">
									${obj.testimonial @ context="html"}
									<h4>${obj.author}</h4>
		                            <p>${obj.designation}</p>
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- End testimonial Area -->