<!-- Start brands Area -->
		    <section class="brands-area">
		        <div class="container">
		            <div class="brand-wrap">
		                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">

							<div class="col single-brand" data-sly-repeat="${properties.imagepath}">
								<a href="#"><img class="mx-auto" src="${item}" alt=""></a>
		                    </div>

		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- End brands Area -->	