<form method="POST" name="form_name"  >
    	<label for="firstValue" class="firstValue">Enter First Value :-</label>
        <input aria-required="true" id="firstval" name="first_val" type="text">
        <label for="secondValue" class="SecondValue">Enter Second Value :-</label>
        <input aria-required="true" id="secondval" name="second_val" type="text">
        <button type="button" id="submit" class="submit">Submit Form</button>
        <input aria-required="true" id="totalval" type="text">
</form>
